@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

hr {
    margin-bottom: 15px;
    margin-top: 15px;
}

.container {
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    height: 100%;
    width: 100%;
    background-color: gray;
}

.esquerda {
    background-color: bisque;
    border: solid;

    grid-area: 1 / 1 / 14 / 2;

    text-align: center;
    
}

.eu {
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 40px;
}
.dados {
    padding: 10px;
}

.dados li {
    padding: 5px;
    text-decoration: none;
    list-style-type: none;
}
.esquerda img {
    margin-right: 10px;
    
}


.redes ul li {
    display: inline;
    padding: 5px;
}

.direita {
    background-color: bisque;
    border: solid;
    grid-area: 1 / 10 / 14 / 11;
}

.direita li {
    list-style-type: none;
    padding: 5px;
}

.main {
    background-color: bisque;
    grid-area: 1 / 2 / 14 / 10;
    border: solid;
}
.main li {
    margin-left: 50px;
}

.main h2 {
    text-align: center;
}

.objetivo {
    margin-left: 15px;
}

.objetivo li {
    text-decoration: none;
    display: inline;
    margin-left: 50px;
}

.footer {
    background-color: bisque;
    grid-area: 14 / 1 / 15 / 11;
    border: solid;
    text-align: center;
    
}